<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>shoppingcart</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/shoppingcart.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/RemindMe.css">
    <script type="text/javascript" src="javascripts/data.js"></script>
    <script type="text/javascript" src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/RemindMe.js"></script>
</head>
<body>

<div id="top-title">
    <span class="common line t-line-l"></span>
    <span class="common t-title">购物车</span>
    <span class="common line t-line-r"></span>
</div>

<div id="shopping-box">
    <div class="shopping-table">
        <header class="table-title">
            <span class="checkall" @click="changeCheckAll()" :class="{'checkall-active':checkAll}">全选</span>
            <span class="goodsinfo">商品信息</span>
            <span class="goodsprice">商品单价</span>
            <span class="goodscount">商品数量</span>
            <span class="goodssum">总金额</span>
            <span class="goodsedite">编辑</span>
        </header>
        <div class="goods clearfix" v-for="(value, index1) in goodsList.body">
            <div class="w g-c" @click="changeCheck(value)" :class="{'g-c-active': value.goodsChecked}"></div>
            <div class="w g-info">
                <img :src="value.goodsImg" class="g-img">
                <div class="g-i-box">
                    <p class="title">{{value.goodsTitle}}</p>
                    <div class="present">
                        <p class="p-ti">赠送: </p>
                        <ul>
                            <li v-for="(item, index) in value.goodsPresents">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w g-price">
                {{value.goodsPrice}}
            </div>
            <div class="w g-count">
                <div class="g-c-box">
                    <span class="reducec" @click="numControl(value, -1)"> - </span>
                    <input class="numc" v-model="value.goodsDefaultNum">
                    <span class="addc" @click="numControl(value, 1)"> + </span>
                </div>
            </div>
            <div class="w g-sum">{{value.goodsDefaultNum * value.goodsPrice}}</div>
            <div class="w g-edite" @click="delList(value)">删除</div>
        </div>
    </div>
    <div class="shopping-footer">
        <p class="total-t">总价:</p>
        <p class="total">{{allMoney}}</p>
        <button class="btn"><a href="address.html" @click="pay">结账</a></button>
    </div>
</div>

<script type="text/javascript" src="javascripts/shoppingcart.js"></script>
</body>
</html>
